<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Contact</h3>
    {% for contact in site.data.settings.contacts %}
    <div class="row g-5 mb-5">
      <div class="col-md-6">
        <p><em>Email:</em> {{ contact.email }}</p>
        <p><em>Office:</em> {{ contact.institution }} | {{ contact.institution_address }} | {{ contact.office }}</p>
        <p><em>Socials:</em> {% for item in site.data.settings.social %}
        <a href="{{ item.link }}" class="ms-3 fs-5"><i class="fab fa-{{ item.icon }}"></i></a>
        {% endfor %}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
