---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Refereed journal articles</h4>
      </div>
      <div class="col-md-10">
        <ul>
        <li><strong>Lageman, J.</strong>, Fahrenfort, J. J., &amp; Slagter, H. A. (2026). Prediction in action: Toward an empirical science of active inference. <em>Neuroscience &amp; Biobehavioral Reviews, 188</em>, 106817. <a href="https://doi.org/10.1016/j.neubiorev.2026.106817">link</a></li>
        <li>Laukkonen, R. E., Lewis-Healey, E., Ghigliotti, L., Daneshtalab, N., <strong>Lageman, J.</strong>, &amp; Slagter, H. A. (2024). Tracking rivalry with neural rhythms: Multivariate SSVEPs reveal perception during binocular rivalry. <em>Neuroscience of Consciousness, 2024</em>(1), niae028.&nbsp;<a href="https://doi.org/10.1093/nc/niae028">link</a></li>
        </ul>
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Preprints</h4>
      </div>
      <div class="col-md-10">
        <ul>
        <li><strong>Lageman, J.</strong>, Kikumoto, A., Badre, D., Fahrenfort, J. J., &amp; Slagter, H. A. (2026). Goal-directed action selection relies on conjunctive representations that bind goals, actions and expected sensory outcomes. <em>bioarXiv</em>.&nbsp;<a href="https://doi.org/10.64898/2026.07.24.740508">link</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
